<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Doors Shop' %></title>
    <meta name="csp-restrict-eval" content="true" />
    <link rel="icon" href="<%= settings?.assets?.favicon %>" type="image/x-icon">

    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#000000" />

    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/js/service-worker.js");
      }
    </script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
      integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@latest/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            screens: {
              xs: "425px",
            },
            colors: {
              base: {
                100: "#DED9D3", // خلفية أساسية هادية
                200: "#ACA59B", // لون ثانوي للأقسام
              },
              neutral: {
                100: "#FFFFFF",
                200: "#ACA59B",
                400: "#8F877E",
                800: "#242425", // النصوص الداكنة
              },
              primary: "#242425", // اللون الأساسي للنصوص والـ CTA
              secondary: "#ACA59B",
              accent: "#DED9D3",
            },
          },
        },
        daisyui: {
          themes: [
            {
              custom: {
                primary: "#242425",
                secondary: "#ACA59B",
                accent: "#DED9D3",
                "base-100": "#DED9D3",
                "base-200": "#ACA59B",
                neutral: "#242425",
                info: "#5F9EA0",
                success: "#3CB371",
                warning: "#DAA520",
                error: "#B22222",
              },
            },
          ],
        },
      };
    </script>
  </head>
  <body class="bg-white text-[#242425]">
    <%- include('../partials/header') %>
    <main class="container mx-auto pt-[72px] px-4 lg:px-6 min-h-screen"><%- body %></main>
    <%- include('../partials/footer') %>
  </body>
</html>
